<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista Cenários: </h1> 

    <ul>
        {% for cenario in cenarios %}
            <li>
                {{cenario.nome}} - Produto -> {{cenario.produto.nome}}
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <a href="{% url 'cenarios:editarCenario' cenario.id %}">Editar</a>
                    <a href="{% url 'cenarios:removerCenario' cenario.id %}" onclick="return confirm('Voce tem certeza que deseja excluir o Cenário {{cenario.nome}}?');">Excluir</a>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {% csrf_token%}
        {{cenario_form}}
        <input type="hidden" name="model_type" value="cenario">
        <button type="submit" name="action" value="create">Salvar Cenário</button>
    </form>

    <h1>Lista Produtos: </h1> 
    <ul>
        {% for produto in produtos %}
          <li>
                {{ produto.nome }} - Insumos -> 
                    {% for insumo in produto.insumos.all %}
                        {{ insumo.nome }}/
                 {% endfor %}
            <form method="post" style="display:inline;">
              {% csrf_token %}
              <a href="{% url 'cenarios:editarProduto' produto.id %}">Editar</a>
              <a href="{% url 'cenarios:removerProduto' produto.id %}" onclick="return confirm('Voce tem certeza que deseja excluir o produto {{produto.nome}}?');">Excluir</a>
            </form>
          </li>
        {% endfor %}
      </ul>
    <form  action="" method="post">
        {% csrf_token %}
        {{produto_form}}
        <input type="hidden" name="model_type" value="produto">
        <button type="submit" name="action" value="create">Salvar Produto</button>
    </form>


    <h1>Lista Insumos: </h1> 
   <ul>
        {% for insumo in insumos %}
          <li>
            {{ insumo.nome }} - Fornecedor -> {{ insumo.fornecedor }}
            <form method="post" style="display:inline;">
              <a href="{% url 'cenarios:editarInsumo' insumo.id %}">Editar</a>
              <a href="{% url 'cenarios:removerInsumo' insumo.id %}" onclick="return confirm('Voce tem certeza que deseja excluir o insumo {{insumo.nome}}?');">Excluir</a>
            </form>
          </li>
        {% endfor %}
      </ul>
    <form  action="" method="post">
        {% csrf_token %}
        {{insumo_form}}
        <input type="hidden" name="model_type" value="insumo">
        <button type="submit" name="action" value="create">Salvar Insumo</button>
    </form>
    <a href="{% url 'cenarios:home' %}">Voltar</a>
</body>
</html>